body {
    padding: 50px;
}

.wrapper {
    width: 862px;
}


.tools {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#fontSize {
    margin-right: 36px;
}

.alignment {
    margin-right: 40px;
    padding: 0;
}

.font-style {
    margin-right: 40px;
}

.color-palette {
    margin-left: 30px;
}

.save {
    position: absolute;
    right: 0;
}

.edit {
    position: absolute;
    right: 6px;
    top: 10px;
}
.textbox {
    position: relative;
    height: 528px;
    border: 1px solid #d6d5d5;
    padding: 30px 49px 10px 30px;
}
.btn {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    margin: 0;

    width: 60px;
    height: 60px;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: none;
    background-color: transparent;

    cursor: pointer;
    outline: none;

    text-decoration: none;
}

.btn-align-center {
    background-position: -9px -4px;
}

.btn-align-justify {
    background-position: -84px -4px;
}

.btn-align-left {
    background-position: -9px -69px;
}

.btn-align-right {
    background-position: -84px -69px;
}

.btn-bold {
    background-position: -146px -4px;
}

.btn-edit {
    width: 35px;
    height: 35px;
    background-position: -155px -69px;
    border-radius: 50%;
}

.btn-font-color {
    background-position: -9px -138px;
}

.btn-italic {
    background-position: -150px -107px;
}

.btn-save {
    background-position: -205px -0px;
}

.btn-font-size {
    background-position: -210px -60px;
}

.btn-underline {
    background-position: -208px -126px;
}

#fontSizeList {
    z-index: 1;
    display: none;
    width: 77px;
    background-color: #ffffff;
    border: 1px solid #d6d5d5;
    position: absolute;
    top: 0;
    left: 0;
}

#fontSizeList ul {
    list-style: none;
    height: 267px;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

#fontSizeList li {
    list-style: none;
    margin-bottom: 10px;
}

#fontSizeList li:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#colorPick table {
    z-index: 1;
    /*display: none;*/
    width: 377px;
    height: 168px;
    padding: 45px 30px;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #d6d5d5;
    position: absolute;
}

#colorPick td {
    width: 60px;
    height: 60px;
    border: 1px solid #d6d5d5;
    box-sizing: border-box;
}

.color1 {
    background-color: #ffd900;
}

.color2 {
    background-color: #f7af01;
}

.color3 {
    background-color: #fb8a06;
}

.color4 {
    background-color: #db6415;
}

.color5 {
    background-color: #ce4d14;
}

.color6 {
    background-color: #03418f;
}

.color7 {
    background-color: #2a2458;
}

.color8 {
    background-color: #40193d;
}

.color9 {
    background-color: #b80424;
}

.color10 {
    background-color: #e50017;
}